/* Base fonts & size */
/* otf-font-awesome and SpaceMono Nerd Font are required to be installed for icons */
* {
  font-family: "JetBrains Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
  font-family: SpaceMono Nerd Font, feather;
  border-bottom: 1px solid #313244;
}

.modules-left {
  margin: 5px 130px;
  padding: 0 5px;
  border-radius: 15px;
}
.modules-right {
  margin: 5px 130px;
  padding: 0 5px;
  border-radius: 15px;
}
.modules-center {
  padding: 0 10px;
}

/* Common module chip look */
#custom-arch,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 10px;
  border-radius: 15px;
}

/* Hover */
#tray > .active:hover,
#tray > .passive:hover,
#tray > .needs-attention:hover,
#custom-arch:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover,
#workspaces button:hover {
  background: #11111b;
  transition: background-color .3s ease-out; /* Only transition the background */
}

/* Tray */
#tray > .active,
#tray > .passive,
#tray > .needs-attention,
#workspaces button {
  background: transparent;
  font-family: SpaceMono Nerd Font, feather;
  font-weight: 900;
  font-size: 13pt;
  color: #c0caf5;
  border: none;         /* Ensure border is explicitly none */
  box-shadow: none;     /* Ensure no shadow */
  text-shadow: none;    /* Ensure no text shadow */
}

/* Workspaces */
#workspaces button.active {
  color: #f5c2e7;
}

/* Custom arch glyph */
#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
}

/* Tray icon sizing */
#tray > .active image,
#tray > .passive image,
#tray > .needs-attention image {
  min-width: 18px;
  min-height: 18px;
  /* prevents odd extra spacing some icons have */
  margin: 0;
}

