/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background-opac: #1e1d2fe6;
    background:      #1e1d2fff;
    background-alt:  #282839e6;
    foreground:      #d9e0eeff;
    selected:        #f5c2e7ff;
    active:          #abe9b3ff;
    urgent:          #f28fadff;
}

